/*

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

*/

  @font-face {
      font-family: 'Plain-Regular';
      src: url('../fonts/Plain-Regular.woff2') format('woff2'),
          url('../fonts/Plain-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Plain-Light';
      src: url('../fonts/Plain-Light.woff2') format('woff2'),
          url('../fonts/Plain-Light.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Plain-Bold';
      src: url('../fonts/Plain-Bold.woff2') format('woff2'),
          url('../fonts/Plain-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  :root {
    --primary-color:        #5C7AEA;
    --secondary-color:      #2146C7;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --gold-color:           #FBCB0A;
    --dark-trans-color:     rgba(0, 0, 0, .8);
    --project-bg:           #f8fdff;
    --menu-bg:              #06283D;
    --gray-color:           #909090;
    --light-gray-color:     #f1f5f9;
    --link-color:           #2146C7;
    --p-color:              #666262;
    --gradient-bg:          radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );

    --base-font-family:     'Plain-Light', sans-serif;
    --title-font-family:    'Plain-Regular', sans-serif;
    --font-bold-family:     'Plain-Bold', sans-serif;
    --font-weight-bold:      bold;

    --h1-font-size:         36px;
    --h2-font-size:         32px;
    --h3-font-size:         28px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       24px;

    --border-radius-large:  100px;
    --border-radius-small:  5px;

    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }

  section {
    padding: 4rem 0;
  }

  /*---------------------------------------
     TYPOGRAPHY
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font-family);
    line-height: inherit;
  }

  h1 {
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: 300;
  }

  h3 {
    font-size: var(--h3-font-size);
    margin-bottom: 0;
  }

  h4 {
    color: var(--gray-color);
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    line-height: 1.5em;
  }

  b,
  strong {
    letter-spacing: 0;
    color: var(--secondary-color);
    font-family: var(--font-bold-family);
  }


  /*  BLOCKQUOTES */
  .quote {
    position: relative;
    margin: 0;
  }

  .quote::after {
    content: "“";
    position: absolute;
    bottom: -80px;
    left: 20px;
    font-family: times;
    color: var(--gray-color);
    font-weight: var(--font-weight-bold);
    font-size: 14em;
    line-height: 0;
    opacity: 0.10;
  }

  blockquote {
    border-left: 5px solid rgba(0,0,0,0.05);
    display: block;
    margin: 42px 0;
    padding: 14px 22px;
    color: rgba(0,0,0,0.5);
  }

  /* BUTTON */
  .custom-btn {
    background: transparent;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-large);
    padding: 12px 26px 14px 26px;
    color: var(--dark-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    white-space: nowrap;
  }

  .custom-btn.btn-bg {
    background: var(--gold-color);
    color: var(--dark-color);
    border-color: transparent;
	  transition: all .3s ease;
  }

  .custom-btn:hover,
  .custom-btn:focus {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: transparent;
  }

  #scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray-color);
  opacity: .4;
  cursor: pointer;
}

#scrollBtn:hover {
  opacity: 1;
}


  /*---------------------------------------
     GENERAL
  -----------------------------------------*/

  html {
    height: 100%;
    width: 100%;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--secondary-color);
    outline: none;
    text-decoration: none;
  }

  ::selection {
    background: var(--secondary-color);
    color: var(--white-color);
  }

  /*---------------------------------------
    MENU
  -----------------------------------------*/

  .navbar {
    background: var(--menu-bg);
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5em;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: 1.5rem;
  }

  .navbar-brand:hover {
    color: var(--gold-color);
  }

  .navbar-brand p {
    font-size: 1rem;
    color: var(--white-color);
    display: none;
    margin-left: 3rem;
  }

  .nav-link {
    color: var(--white-color);
    font-size: var(--menu-font-size);
    letter-spacing: 0.4px;
    margin: 0 1.6em;
    padding: 0.6em;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--gold-color);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    border: 2px solid var(--white-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-family: var(--font-bold-family);
    padding: 0.6em 2em 0.8em 2em;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact:hover,
  .navbar-expand-lg .navbar-nav .nav-link.contact.active {
    background: var(--gold-color);
    color: var(--dark-color);
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;

    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }


  /*---------------------------------------
     HERO
  -----------------------------------------*/

  .hero {
    position: relative;
    padding: 5rem 0 0;
    overflow: hidden;
  }

  .hero-text {
    padding: 0 1rem;
  }

  .hero-text h1 {
    font-size: var(--h3-font-size);
  }

  .hero-text span {
    font-size: var(--h1-font-size);
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  }

  .hero-text p {
    color:
  }

  .hero-bg {
    background-image: url(/images/waves-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-img-box {
    position: relative;
    top: 2em;
  }

  .hero-img {
    box-shadow: var(--box-shadow);
    max-height: 408px;
    border-radius: 50%;
    max-width: 90%;
    margin: auto;
  }


  /*---------------------------------------
     INTRO - SALES PITCH
  -----------------------------------------*/

  .intro-bg {
    background-image: url(/images/responsive-web-design.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .intro__card {
    background-color: #f1f5f9;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
  }

  .intro {
    padding: 1rem;
  }

  .intro a, .intro__promo a {
    text-decoration: underline;
  }

  .intro p, .intro__promo p {
    text-align: justify;
    font-size: 1.5rem;
    color: var(--dark-color);
  }

  .intro__promo {
    padding: 2rem;
    min-width: 100%;
  }

  .intro__promo li {
    font-size: 1.75rem;
    list-style: none;
  }

  .intro__promo li i {
    color: var(--secondary-color);
  }


  /*---------------------------------------
     SERVICES
  -----------------------------------------*/

  .service {
    background-color: var(--light-gray-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
    padding: 1rem;
    margin: 2rem 0;

  }

  .flex-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .service img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  .service__descpription {
    line-height: 1.8
  }

  /*---------------------------------------
     PROJECT
  -----------------------------------------*/

  .triple-wave-bg {
    background-image: url(/images/waves-projects-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* carousel slider */
  .slider-wrapper {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1140px;
  }

  .slides-container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  .slides-container {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  /* WebKit */
  .slides-container::-webkit-scrollbar {
      width: 0;
      height: 0;
  }

  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  .slide-caption {
    background-color: var(--dark-trans-color);
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  .slide-caption h5, .slide-caption p {
    color: white;
  }

  .slide-arrow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: var(--dark-color);
    color: white;
    border: none;
    width: 3rem;
    font-size: 6rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }

  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
    outline: none;
  }

  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }

  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }

  .slide-arrow span {
    padding-bottom: 32px;
  }

  .dot-group {
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /*
  ---------------------------------------------
    TESTIMONIALS
  ---------------------------------------------
  */

  .testimonials .item {
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    position: relative;
    box-shadow: var(--box-shadow);
    background-color: var(--light-gray-color);
  }

  .testimonials .item p {
    font-size: 20px;
    font-style: italic;
    color: var(--dark-color);
    line-height: 1.8;
  }

  .testimonials .item h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    position: relative;
    color: var(--dark-color);
  }

  .testimonials .item i {
    max-width: 44px;
    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 2rem;
    color: var(--secondary-color);
  }


  /*---------------------------------------
      ABOUT - PAGE
  -----------------------------------------*/

  .about-page p {
    text-align: justify;
    line-height: 1.8;
  }

  .about-page ul {
    list-style: none;
  }

  /*---------------------------------------
     CONTACT - PAGE
  -----------------------------------------*/

  #varTxt {
    font-size: 20px;
  }

  .contact-form {
    background: var(--primary-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    color: var(--white-color);
    font-size: var(--p-font-size);
    line-height: 0px;
    padding: 2rem;
  }

  .custom-select {
    font-size: 1rem;
    color: rgb(73, 80, 87);
  }

  textarea {
    min-height: 100px;
  }

  .loading-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .loading {
    margin: auto;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 1rem solid var(--project-bg);
    border-top: 1rem solid var(--primary-color);
    border-bottom: 1rem solid var(--primary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }


  @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

  @keyframes spin {
    0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
  }


  /*---------------------------------------
     FOOTER
  -----------------------------------------*/

  .site-footer {
    background: var(--dark-color);
    padding: 7em 0 6em 0;
  }

  .site-footer strong {
    color: var(--primary-color);
  }

  .site-footer a, .site-footer p {
    color: var(--gray-color);
  }

  .site-footer a:hover,
  .footer-icon {
    color: var(--primary-color);
  }

  .footer-link li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
  }

  .underline {
    text-decoration: underline;
  }

  /*---------------------------------------
     SOCIAL ICON
  -----------------------------------------*/

  .social-icon {
    padding: 0;
    margin-top: 1em;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 10px;
    text-align: center;
  }

  .social-icon li a svg {
    margin-bottom: 5px;
    margin-left: -10px;
  }

  svg:hover {
    fill: var(--primary-color);
  }

  /*---------------------------------------
     RESPONSIVE STYLES
  -----------------------------------------*/

  @media screen and (min-width: 992px) {

    :root {
      --h1-font-size:         40px;
      --h2-font-size:         36px;
      --h3-font-size:         32px;
    }

    section {
      padding: 8rem 0;
    }

    .nav-link {
      font-size: var(--base-font-size);
    }

    .intro li {
      line-height: 4rem;
    }

    .project h2 {
      max-width: 32%;
      margin: 0 auto;
    }
  }

  @media (min-width: 768px) {

    .navbar-brand {
      font-size: var(--h2-font-size);
    }

    .navbar-brand p {
      display: block;
    }

    .contact-h1 {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 991px) {

    .hero-text {
      bottom: 2em;
    }

    .navbar-collapse {
      text-align: center;
      padding: 2.5em 0;
    }

    .nav-link {
      display: inline-block;
    }

    .navbar-expand-lg .navbar-nav .nav-link.contact {
      margin: 1em 0;
    }

    .footer-link,
    .site-footer .social-icon {
      padding: 0;
      text-align: left;
    }
  }
