/*

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

*/

  @font-face {
      font-family: 'Plain-Regular';
      src: url('../fonts/Plain-Regular.woff2') format('woff2'),
          url('../fonts/Plain-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Plain-Light';
      src: url('../fonts/Plain-Light.woff2') format('woff2'),
          url('../fonts/Plain-Light.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Plain-Bold';
      src: url('../fonts/Plain-Bold.woff2') format('woff2'),
          url('../fonts/Plain-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  :root {
    --primary-color:        #5C7AEA;
    --secondary-color:      #2146C7;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --gold-color:           #FBCB0A;
    --dark-trans-color:     rgba(0, 0, 0, .8);
    --project-bg:           #DFF6FF;
    --menu-bg:              #06283D;
    --gray-color:           #909090;
    --link-color:           #2146C7;
    --p-color:              #666262;

    --base-font-family:     'Plain-Light', sans-serif;
    --title-font-family:    'Plain-Regular', sans-serif;
    --font-bold-family:     'Plain-Bold', sans-serif;
    --font-weight-bold:      bold;

    --h1-font-size:         36px;
    --h2-font-size:         32px;
    --h3-font-size:         24px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100px;
    --border-radius-small:  5px;

    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  }

  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }


  /*---------------------------------------
     TYPOGRAPHY
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font-family);
    line-height: inherit;
  }

  h1 {
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h1-font-size);
    font-weight: 100;
  }

  h3 {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 0;
  }

  h4 {
    color: var(--gray-color);
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    line-height: 1.5em;
  }

  b,
  strong {
    letter-spacing: 0;
    color: var(--secondary-color);
  }


  /*  BLOCKQUOTES */
  .quote {
    position: relative;
    margin: 0;
  }

  .quote::after {
    content: "“";
    position: absolute;
    bottom: -80px;
    left: 20px;
    font-family: times;
    color: var(--gray-color);
    font-weight: var(--font-weight-bold);
    font-size: 14em;
    line-height: 0;
    opacity: 0.10;
  }

  blockquote {
    border-left: 5px solid rgba(0,0,0,0.05);
    display: block;
    margin: 42px 0;
    padding: 14px 22px;
    color: rgba(0,0,0,0.5);
  }


  /* BUTTON */
  .custom-btn {
    background: transparent;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-large);
    padding: 12px 26px 14px 26px;
    color: var(--dark-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    white-space: nowrap;
  }

  .custom-btn.btn-bg {
    background: var(--gold-color);
    color: var(--dark-color);
    border-color: transparent;
	transition: all .3s ease;
  }

  .custom-btn:hover,
  .custom-btn:focus {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: transparent;
  }


  /*---------------------------------------
     GENERAL
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--secondary-color);
    outline: none;
    text-decoration: none;
  }

  ::selection {
    background: var(--secondary-color);
    color: var(--white-color);
  }

  .section-padding {
    padding: 8em 0;
  }
  .section-padding-half {
    padding: 4em 0;
  }

  /*---------------------------------------
    MENU
  -----------------------------------------*/

  .navbar {
    background: var(--menu-bg);
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5em;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: 1.5rem;
  }

  .navbar-brand:hover {
    color: var(--gold-color);
  }

  .navbar-brand p {
    font-size: 1rem;
    color: var(--white-color);
    display: none;
    margin-left: 2.75rem;
  }

  .nav-link {
    color: var(--white-color);
    font-size: var(--menu-font-size);
    letter-spacing: 0.4px;
    margin: 0 1.6em;
    padding: 0.6em;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--gold-color);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    border: 2px solid var(--white-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-family: var(--font-bold-family);
    padding: 0.6em 2em 0.8em 2em;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact:hover,
  .navbar-expand-lg .navbar-nav .nav-link.contact.active {
    background: var(--gold-color);
    color: var(--dark-color);
  }

  .navbar-nav .navbar-toggler-icon {
    background: none;
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }


  /*---------------------------------------
     HERO
  -----------------------------------------*/

  .hero {
    position: relative;
    padding: 5em 0;
    overflow: hidden;
  }

  .hero-text h1 {
    font-size: var(--h3-font-size);
  }

  .hero-text span {
    font-size: var(--h1-font-size);
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  }

  .hero-bg {
    background-image: url(/images/waves-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-img {
    box-shadow: var(--box-shadow);
  }

  .hero-image {
    position: relative;
    top: 2em;
  }

  /*---------------------------------------
     INTRO - SALES PITCH
  -----------------------------------------*/

  .intro {
    position: relative;
    overflow: hidden;
  }

  /*---------------------------------------
     SERVICES
  -----------------------------------------*/

  .services-title {
    margin: auto;
  }

  .card {
    box-shadow: var(--box-shadow);
    cursor: pointer;
  }

  .card:hover {
    background-color: var(--project-bg);
  }

  .card img {
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  .card h5 {
    color: var(--secondary-color);
  }

  /*---------------------------------------
     PROJECT
  -----------------------------------------*/

  .project-title {
    background-color: var(--gold-color);
    padding: .5rem;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
  }

  .project {
    background-image: url(/images/waves-projects-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--box-shadow);
  }

  .jumbotron {
    background-color: var(--dark-trans-color);
    color: var(--white-color);
    box-shadow: var(--box-shadow);
  }

  .jumbotron p {
    color: var(--white-color);
  }

  .carousel {
    display: none;
    max-width: 1285px;
    margin: auto;
  }

  .carousel-item {
    max-height: 430px;
  }

  .carousel-item img {
    max-width: 900px;
    height: auto;
    margin: auto;
  }

  .carousel-caption {
    background-color: var(--dark-trans-color);
    border-radius: var(--border-radius-small);
    max-width: 780px;
    margin: auto;
  }

  .carousel-caption p {
    color: var(--white-color);
  }

  .carousel-control-prev, .carousel-control-next {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .carousel-control-prev span, .carousel-control-next span {
    background-color: var(--dark-trans-color);
    padding: 1rem;
  }

  /*
  ---------------------------------------------
    TESTIMONIALS
  ---------------------------------------------
  */

  .testimonials-heading {
    padding-top: 20px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
  }

  .section-heading h4 {
    font-size: 13px;
    text-transform: uppercase;
    color: #7a7a7a;
    font-weight: 600;
  }

  .testimonials .item {
    border-radius: 15px;
    padding: 30px;
    background-color: #fff;
    margin: 15px;
    transition: all .3s;
    position: relative;
    z-index: 2;
    box-shadow: var(--box-shadow);
  }

  .testimonials .item p {
    font-size: 16px;
    font-style: italic;
  }

  .testimonials .item h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    position: relative;
  }

  .testimonials .item span {
    font-size: 13px;
    font-weight: 700;
    color: var(--primary-color);
  }

  .testimonials .item i {
    max-width: 44px;
    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 2rem;
  }


  /*---------------------------------------
      ABOUT - PAGE
  -----------------------------------------*/

  .about-page-img {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .about-page-img img {
    width: 100%;
    max-width: 500px;
  }

  /*---------------------------------------
     CONTACT - PAGE
  -----------------------------------------*/

  .contact-form {
    background: var(--primary-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    color: var(--white-color);
    font-size: var(--p-font-size);
    line-height: 0px;
    padding: 2rem;
  }

  .custom-select {
    font-size: 1rem;
    color: rgb(73, 80, 87);
  }

  .loading-container {
    min-height: 60px;
    width: 100%;
  }

  textarea {
    min-height: 100px;
  }

  #loading {
    margin: auto;
    border: 1rem solid var(--project-bg);
    border-top: 1rem solid var(--primary-color);
    border-bottom: 1rem solid var(--primary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }


  @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

  @keyframes spin {
    0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
  }


  /*---------------------------------------
     FOOTER
  -----------------------------------------*/

  .site-footer {
    background: var(--dark-color);
    padding: 7em 0 6em 0;
  }

  .site-footer strong {
    color: var(--primary-color);
  }

  .site-footer a {
    color: var(--p-color);
  }

  .site-footer a:hover,
  .footer-icon {
    color: var(--primary-color);
  }

  .footer-link li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
  }

  .underline {
    text-decoration: underline;
  }

  /*---------------------------------------
     SOCIAL ICON
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;

    margin-top: 1em;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 10px;
    text-align: center;
  }


  /*---------------------------------------
     RESPONSIVE STYLES
  -----------------------------------------*/

  @media screen and (min-width: 1200px) {

    .intro-info h2 {
      max-width: 70%;
    }

  }

  @media screen and (min-width: 991px) {

    .project h2 {
      max-width: 32%;
      margin: 0 auto;
    }
  }

  @media (min-width: 768px) {

    h1 {
      font-size: var(--h1-font-size);
    }

    h2 {
      font-size: var(--h2-font-size);
    }

    h3 {
      font-size: var(--h3-font-size);
    }

    .navbar-brand {
      font-size: var(--h2-font-size);
    }

    .navbar-brand p {
      display: block;
    }

    .jumbotron {
      display: none;
    }

    .carousel {
      display: block;
    }
  }

  @media screen and (max-width: 991px) {

    .hero-text {
      bottom: 2em;
    }

    .navbar {
      padding: 1em;
    }

    .navbar-collapse {
      text-align: center;
      padding: 2.5em 0;
    }

    .nav-link {
      display: inline-block;
    }

    .navbar-expand-lg .navbar-nav .nav-link.contact {
      margin: 1em 0;
    }

    .footer-link,
    .site-footer .social-icon {
      padding: 0;
      text-align: left;
    }
  }
